<!DOCTYPE html>
<html lang="ja">
  <head prefix="og:http://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- title, description, theme -->
    <title><%- title %></title>
    <meta name="description" content="<%- description %>" />
    <meta name="theme-color" content="<%- theme %>" />
    <!-- icons -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link
      rel="alternate icon"
      href="/favicon.ico"
      type="image/png"
      sizes="16x16"
    />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff8e3c" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta
      name="msapplication-TileImage"
      content="/msapplication-icon-144x144.png"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <!-- OGP -->
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:description" content="<%- description %>" />
    <meta property="og:url" content="<%- ogSiteUrl %>" />
    <meta property="og:image" content="<%- ogThumbnail %>" />
    <meta property="og:type" content="<%- ogType %>" />
    <meta property="og:site_name" content="<%- ogSiteName %>" />
    <meta name="twitter:card" content="<%- ogTwitterCard %>" />
    <meta name="twitter:site" content="<%- ogTwitterSite %>" />
    <!-- loading -->
    <link rel="stylesheet" href="/loading.css" />
  </head>
  <body>
    <div
      id="<%- loadingAnimationId %>"
      class="transition-all duration-500 fixed z-100 bg-secondary w-full h-full top-0 left-0 text-white flex flex-col items-center justify-center"
    >
      <div class="flex items-center justify-center relative mb-10 h-52 w-52">
        <div
          class="absolute w-full h-full flex items-center justify-center top-0"
        >
          <span
            class="absolute rounded-full bg-tertiary loading-animation-dots"
          ></span>
          <span
            class="absolute rounded-full bg-highlight loading-animation-dots loading-dots-1"
          ></span>
          <span
            class="loading-animation-loading font-title text-2xl text-tertiary"
            >LOADING</span
          >
        </div>
      </div>
      <div class="w-72 h-10 p-2">
        <div
          class="h-full bg-tertiary relative rounded-xl border-4 border-tertiary overflow-hidden shadow-xl"
        >
          <div
            id="<%- loadingProgressBarId %>"
            class="absolute h-full bg-highlight transition-all duration-300"
          ></div>
        </div>
      </div>
    </div>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
